<h1>Fake Profile</h1>
<div class="grid">
    <div class="col-md-3">
        <img src="{{user.avatar}}" style="border-radius: 50%;">
    </div>
    <div>
        <p>Name: {{user.name.firstName}}  {{user.name.lastName}}</h3>
        <p>Job Title: {{user.name.jobTitle}}</h3>
        <p>Job Area: {{user.name.jobArea}}</h3>
        <p>Phone: {{user.phone}}</h3>
    </div>
</div>